.app-container {
    display: flex;
}

.content {
    width: 100%;
}

.sidebar {
    min-height: 700px;
    max-width: 180px;
}

.k-card {
    margin: 20px 50px;
    min-width: 23rem;
}

.hashtag {
    margin: 0px 3px;
}

.delete-badge {
    font-size: 17px;
}

.reaction {
    margin: 10px;
}

.createPost{
    width: 50%;
    margin-top: 50px;
    margin-left: 20% ;
}